# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\codes\go\john-hello\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
